<footer class="page-footer" id='footer-styles' >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Follow Me!</h5>

      <div class='fa-icons'>
      <a href="https://www.instagram.com/kyle_hatch/">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>

      <a href="https://www.facebook.com/ky13h4tch">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>

      <a href="https://twitter.com/ky13h4tch?lang=en">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>

      <a href="https://www.linkedin.com/in/kyle-hatch/">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>

      <a href="https://github.com/Relofr">
        <i class="fa fa-github-alt" aria-hidden="true"></i>
      </a>
      </div>
        
      </div>
      


      <div class="col l4 offset-l2 s12">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Portfolio', portfolio_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" id='copyright'>
    <div class="container">
      <%= copyright_generator %>
    </div>
  </div>
</footer>