<footer class="page-footer" id='footer-styles' >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="">Follow Me</h5>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <p class="grey-text text-lighten-4">
                
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class=""></h5>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'Portfolio', portfolio_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" id='copyright'>
    <div class="container">
      <%= copyright_generator %>
    </div>
  </div>
</footer>