<div class="slider">
  <ul class="slides">
    <li>
      <a><%= image_tag "image2.jpg", width: 'auto', height: 'auto' %></a>
      <div class="caption left-align">
      </div>
    </li>  
  </ul>
</div>