<nav>
  <div class="nav-wrapper z-depth-0">
    <a class="brand-logo right"><i class="material-icons">landscape</i></a>
      <a><%= nav_helper 'nav-link', 'span' %></a>
      <a>|<%= login_helper 'nav-link' %></a>
  </div>
</nav>