<div class="container" id="home-container">
  <div class="row">


    <div class="col s4">
      <i class="material-icons">spa</i>
      <h4>Clean Code</h4>
      <p>A description of why a clean code base is important.A description of why a clean code base is important.A description of why a clean code base is important.A description of why a clean code base is important.A description of why a clean code base is important.A description of why a clean code base is important.A description of why a clean code base is important.</p>
    </div>

    <div class="col s4">
      <i class="material-icons">aspect_ratio</i>
      <h4>Scalability</h4>
      <p>A description of why scalability is importantA description of why scalability is importantA description of why scalability is importantA description of why scalability is importantA description of why scalability is importantA description of why scalability is importantA description of why scalability is importantA description of why scalability is importantA description of why scalability is importantA description of why scalability is important</p>
    </div>

    <div class="col s4">
      <i class="material-icons">security</i>
      <h4>Security</h4>
      <p>A description of why security is importantA description of why security is importantA description of why security is importantA description of why security is importantA description of why security is importantA description of why security is importantA description of why security is importantA description of why security is importantA description of why security is importantA description of why security is important</p>
    </div>

    
  </div>
</div>